[mysqld]
ndbcluster
datadir=/root/mysqlcluster-test/my_cluster/mysqld_data
basedir=/root/mysqlcluster-test/mysqlc
port=5000
socket=/root/mysqlcluster-test/my_cluster/mysql.sock
user=root

ndb-connectstring=mysqlctr:1186  # location of management server
ndb-mgmd-host=mysqlctr
#ndb-nodeid=50

[mysql_cluster]
